.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 240px;
  height: 100vh;
  padding: 1.5rem;
  background: #fff;
  border-right: 3px solid rgba(0, 0, 0, 0.05);
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  color: var(--color-primary);
  font-family: "Comic Neue", cursive;
}

.nav-logo i {
  font-size: 1.5rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.nav-menu h3 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-primary);
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.nav-links a {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  text-decoration: none;
  color: var(--color-primary);
  padding: 0.5rem;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  background: rgba(0, 0, 0, 0.2);
  transform: translateX(5px);
}

.nav-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  gap: 15px;
  padding: 0.5rem;
}

.nav-account:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.nav-account img {
  width: 40px;
  border-radius: 50%;
}

.nav-account h4 {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color-primary);
}

.nav-account p {
  font-size: 0.8rem;
  color: var(--color-primary);
}

.nav-account i {
  color: var(--color-primary);
  cursor: pointer;
}

.arrow-btn {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: -52px;
  background: var(--color-secondary);
  color: #fff;
  width: 50px;
  height: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 1;
}

.arrow-btn:hover {
  background: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .nav-container {
    z-index: 100;
    transform: translateX(-240px);
    transition: all 0.3s ease-in-out;
  }

  .nav-container.active {
    transform: translateX(0);
  }

  .arrow-btn {
    display: flex;
  }
}
